.myPlaylists-heading {
  color: limegreen;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Assistant;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (min-width: 567px) {
  .myPlaylists-heading {
    font-size: 24px;
  }
}

.addto-playlist-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  height: 40px;
  width: 40px;
  background-color: limegreen;
  border-radius: 37px;
  color: #fff;
}

.create-playlist-text {
  color: #fff;
  font-family: Assistant;
  font-size: 10px;
}
.create-playlist-text:hover {
  color: dodgerblue;
  font-weight: 400;
}

@media screen and (min-width: 567px) {
  .create-playlist-text {
    font-size: 18px;
  }
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

.playlist-card-name-text {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 0.5rem;
  color: #fff;
  margin-block: 0px;
}

@media screen and (min-width: 768px) {
  .playlist-card-name-text {
    font-size: 1rem;
    margin-top: 10px;
  }
}
